body {
  background-image:linear-gradient(to right, #ecf0f1 25%, #bdc3c7 100%);
}


.icone {
  width: 2%;
  margin-left: 1%;
  margin-right: 0.5%;
}

.navbar-brand {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; 
  color: black; 
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  font-style: italic;
}

.navbar-brand:hover {
  color: #C78C19;
  transform: scale(1.2);
  transition: 1s all;
}


.card-tabs-1 {
  z-index: -1;
}

.card-header {
  margin: -4px;
  padding-bottom: 0;
}

.nav-item {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; 
  color: black; 
  text-shadow: 1px 1px 1px 0 black;
  margin-left: 56%;
  font-weight: bold;
}

.nav-item1{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; 
  color: black; 
  text-shadow: 1px 1px 1px 0 black;
  font-weight: bold;
}

.nav-link {
  text-decoration: none; 
  color: black;
  font-weight: bold;
}

.nav-tabs {
    margin: -1px;
}

.card-tabs-3 {
  padding: 0;
}

.nav-tabs {
  margin: -4px;
}
